<div>
    Id : <input type="number" name="todo_id" id="todo_id" ng-model="todo_id" autofocus placeholder="Enter Id">
    Task : <input type="text" name="name" id="name" ng-model="name" autofocus placeholder="Enter Task">
    Task Status : <input type="checkbox" name="plays" id="plays" ng-model="plays"/>
    <!--<button ng-click="update()">Update</button><br>-->
    <button ng-click="temp()">Update</button><br>
    <table>
        <tr>
            <td>Tasks</td>
            <td>Task Status</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr ng-repeat="res in results">
            <td>{{ res.task }}</td>
            <td>{{ res.taskstatus }}</td>
            <td style="color: crimson; cursor: pointer; font-size: 10px; font-weight: bolder" ng-click="delete(res)">&nbsp;&nbsp;&#9587;&nbsp;&nbsp;</td>
        </tr>
    </table>
</div>